@import "src/styles/vendor/bootstrap";
@import "src/styles/mixins";


html, body {
	// height: 100%;
	// overflow: hidden;
}

.form-line {
	margin-bottom: 10px;

	.label {
	    line-height: 36px;
	}
}


.initial-node {
	width: 600px;
}

.node-cell {
	float: left;
}

.node-management {margin-top: 23px; margin-left: 20px;}
.node-management .btn {margin-left: 10px;}


[last-item="true"] .add-node {
	display: inline-block !important;
}

[last-item="false"] .add-node {
	display: none !important;
}

.management {margin-top: 35px;}
.management .line {margin-bottom: 15px;}