@import "src/styles/vendor/bootstrap";
@import "src/styles/mixins";


html, body {
}

.label.centered {
    line-height: 36px;
}


.initial-node {
	border-bottom: 1px solid #a5a5a5;
}

.initial-node-wrapper {
	margin-bottom: 35px;
}

.node-cell {
	float: left;
}

.node-elements {
	margin-bottom: 15px;
}

.node-management {margin-top: 23px; margin-left: 20px;}
.node-management .btn {margin-left: 10px;}


[last-item="true"] .add-node {
	display: inline-block !important;
}

[last-item="false"] .add-node {
	display: none !important;
}

.management {margin-top: 35px;}
.management .line {margin-bottom: 15px;}

.fullwidth span.select2 {width: 100% !important}